footer
    width 100%
    border-top 1px solid $marrom
    p
        margin 0
        text-align center
        color $marrom
        &.info
            padding 25px 0 20px
            dosis 12
            span
                margin 0 10px
                +below($tablet)
                    display block
                    margin 0 0 5px
        &.copyright
            padding 0 0 15px
            roboto 10
            span
                margin 0 5px
                +mobile()
                    display block
                    font-size 0
                    margin 0
            a:hover
                text-decoration underline
