.wrapper
    clearfix()

#nav-mobile
    display none
    +above($tablet)
        display none !important
    background $marrom
    padding 25px 0
    > a
        text-align center
        dosis 15
        text-transform uppercase
        color $bege
        display block
        margin 0 0 8px
        &.active
            font-weight 700
            color #fff
    .social
        display block
        font-size 0
        text-align center
        margin-top 12px
        a
            display inline-block
            width 13px
            height 13px
            text-indent -9999px
            background-position center
            background-repeat no-repeat
            margin-right 2px
            &.facebook
                background-image $img('face.png')
            &.instagram
                background-image $img('insta.png')

header
    width 250px
    float left
    margin-bottom 30px
    .logo
        width 100%
        height 37px
        display block
        text-indent -9999px
        background $img('logo.png') no-repeat center left
        margin 30px 0 55px
    nav
        > a
            dosis 14
            color $marrom
            display block
            margin 0 0 8px
            text-transform uppercase
            transition padding .3s
            &:hover
                padding-left 5px
            &.active
                font-weight 700
                padding-left 0
        .social
            display block
            font-size 0
            a
                display inline-block
                width 13px
                height 13px
                text-indent -9999px
                background-position center
                background-repeat no-repeat
                margin-right 2px
                &.facebook
                    background-image $img('face.png')
                &.instagram
                    background-image $img('insta.png')
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position relative
        float right
        height 100%
        width 30px
        outline 0
        padding 0
        cursor pointer
        .lines
            display block
            width 100%
            height 4px
            background $marrom
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 2px
                background $marrom
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    +below($tablet)
        width 100%
        height 80px
        float none
        margin-bottom 0
        .logo
            width 181px
            height 100%
            float left
            margin 0
        nav
            display none

.main
    width calc('100% - 250px')
    float left
    margin 30px 0 80px
    +below($tablet)
        width 100%
        float none
    +mobile()
        margin 20px 0 40px

.not-found
    display block
    padding 50px 0
    text-align center
    h1
        display inline-block
        border 2px solid $marrom
        dosis 13
        text-transform uppercase
        color $marrom
        margin 0
        padding 12px 16px

.fancybox-overlay
    background rgba($marrom, .9) !important
