desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 710px
rupture.anti-overlap   = -1px

$bege   = #F3EFEE
$marrom = #88746B

@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Roboto+Condensed:400,700')

dosis($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Dosis', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700

roboto($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
