.clipping
    h1
        dosis 30 light
        color $marrom
        margin 0 0 30px
        +mobile()
            margin-bottom 20px
    .thumbs
        font-size 0
        a
            display inline-block
            height 300px
            margin 0 22px 22px 0
            vertical-align top
            position relative
            +mobile()
                height 200px
                width 100%
                margin 0 15px 15px 0
                &.capa
                    height auto
            &:hover .overlay
                opacity 1
            img
                height 100%
                width auto
                display block
                +mobile()
                    max-width 100%
                    height auto
                    margin 0 auto
            .titulo
                width 215px
                height 100%
                display block
                background $marrom
                +mobile()
                    width 100%
                span
                    display inline-block
                    position absolute
                    top 50%
                    left 0
                    width 100%
                    padding 0 20px
                    transform translateY(-50%)
                    dosis 13 bold
                    text-align center
                    text-transform uppercase
                    color #fff
            .overlay
                position absolute
                width 100%
                height 100%
                background rgba($marrom, .75)
                opacity 0
                transition opacity .3s
                top 0
                left 0
                span
                    display inline-block
                    position absolute
                    top 50%
                    left 0
                    width 100%
                    padding 0 20px
                    transform translateY(-50%)
                    dosis 13 bold
                    text-align center
                    text-transform uppercase
                    color #fff
            &.clipping-link
            &.clipping-video
                .overlay
                .titulo
                    span
                        top 40%
                &:after
                    content ''
                    position absolute
                    width 31px
                    height 31px
                    bottom 20px
                    left 50%
                    margin-left -15px
                    z-index 2
            &.clipping-link:after
                background $img('seta-link.png') no-repeat center
            &.clipping-video:after
                background $img('player.png') no-repeat center
