.contato
    clearfix()
    h1
        dosis 30 light
        color $marrom
        margin 0 0 30px
        +mobile()
            margin-bottom 20px
    .col
        width calc('50% - 18px')
        float left
        + .col
            float right
        +mobile()
            width 100%
            + .col
                margin-top 30px
        h2
            dosis 20 bold
            color $marrom
            margin 0 0 23px
        form
            h3
                dosis 12 bold
                color $marrom
                margin 0 0 10px
                text-transform uppercase
            input
            textarea
                background #fff
                outline 0
                border 0
                color $marrom
                padding 10px
                dosis 14
                display block
                width 100%
                margin-bottom 4px
                +placeholder()
                    color $marrom
            textarea
                height 220px
                resize none
            input[type='submit']
                background $marrom
                dosis 14 bold
                color #fff
                transition background .3s
                cursor pointer
                &:hover
                    background darken($marrom, 10)
            #form-contato-response
                display none
                border 2px solid rgba($marrom, .35)
                padding 10px
                dosis 13
                color $marrom
                text-transform uppercase
                margin 4px 0
                text-align center
        .endereco
            dosis 16
            color $marrom
            margin 0 0 20px
            line-height 1.5
        .mapa
            width 100%
            height 370px
            iframe
                width 100%
                height 100%
                display block
