.depoimentos
    h1
        dosis 30 light
        color $marrom
        margin 0 0 10px
    .depoimento
        border-top 1px solid $marrom
        padding 30px 0
        +mobile()
            padding 20px 0
        &:last-child
            border-bottom 1px solid $marrom
        p
            max-width 700px
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
            roboto 14
            line-height 1.5
            color $marrom
