.perfil
    clearfix()
    img
        width 46%
        float left
        display block
        +mobile()
            width 100%
            margin-bottom 20px
    .texto
        width 54%
        float left
        padding 10px 0 0 50px
        +tablet()
            padding-top 0
            padding-bottom 0
        +mobile()
            width 100%
            padding 0
        h1
            dosis 41 light
            color $marrom
            margin 0
            +mobile()
                font-size 32px
        p
            roboto 14
            color $marrom
            line-height 1.5

