.projetos
    .categorias
        font-size 0
        margin-bottom 30px
        h1
            display inline-block
            dosis 30 light
            color $marrom
            margin 0
            margin-right 32px
            +below($tablet)
                display block
                margin-bottom 10px
        a
            dosis 14
            color $marrom
            display inline-block
            text-transform uppercase
            margin-right 26px
            +mobile()
                margin-right 14px
            &.active
                font-weight 700
    .projetos-thumbs
        font-size 0
        a
            display inline-block
            width calc('33.333% - 14.667px')
            margin-right 22px
            margin-bottom 22px
            vertical-align top
            &:nth-child(3n)
                margin-right 0
            +mobile()
                width calc('50% - 11px')
                &:nth-child(3n)
                    margin-right 22px
                &:nth-child(2n)
                    margin-right 0
            .imagem
                position relative
                img
                    display block
                    width 100%
                &:after
                    content ''
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    background rgba($marrom, .75)
                    transition opacity .3s
                    opacity 0
            span
                display block
                width 100%
                margin-top 10px
                text-align center
                dosis 14
                color $marrom
            &:hover .imagem:after
                opacity 1
    .projetos-show
        clearfix()
        .imagens
            width 70%
            float left
            position relative
            +mobile()
                width 100%
                margin-top 15px
            a
                display block
                img
                    display block
                    width 100%
            .cycle-prev
            .cycle-next
                &.disabled
                    display none
                position absolute
                width 40px
                height 40px
                background #fff
                top 50%
                margin-top -20px
                opacity .6
                transition opacity .3s
                cursor pointer
                &:hover
                    opacity 1
                &:after
                    content ''
                    position absolute
                    width 16px
                    height 16px
                    border 1px solid $marrom
                    top 50%
                    left 50%
                    transform translateX(-50%) translateY(-50%) rotate(45deg)
            .cycle-prev
                left 0
                &:after
                    border-right 0
                    border-top 0
                    left 60%
            .cycle-next
                right 0
                &:after
                    border-left 0
                    border-bottom 0
                    left 40%
        .descricao
            width 25%
            float right
            +mobile()
                width 100%
            h2
                dosis 20 light
                color $marrom
                margin 0 0 15px
            p
                roboto 12
                color $marrom
                margin .5em 0
